<div class="container">

  <div class="row main-title">USER // {{user.user_name}}
    <div class="line"></div>
  </div>

  <div class="row">
    <div class="col m8 forum-col">
      <div class="body-title">POSTS</div>
      <!-- for each loop for hb for all user posts -->
      <ul class="user-posts">
        {{#each userPosts}}
        <li><a href="/posts/{{this.id}}">{{this.post_subject}}</a></li>
        {{/each}}
      </ul>
      <div class="body-title">COMMENTS</div>
      <!-- for each loop for hb for all user comments -->
      <ul class="user-posts">
        {{#each userReplies}}
        {{!-- DO WE WANT A WAY TO REFERENCE THE POST THIS IS ASSOCIATED WITH? AND DO WE WANT THEM TO GO TO THE SPOT ON
        THE PAGE WHERE THIS REPLY IS? --}}
        <li>{{this.reply_content}}</li>
        {{/each}}
      </ul>

      <div class="go-back"><a href="/forum"><i class="material-icons tiny">arrow_back</i> BACK TO FORUM</a></div>
    </div>

    <div class="col m4">
      <div class="register-form">
        <table>
          <tbody>
            <tr>
              <td class="acct-property">Username: </td>
              <td>{{user.user_name}}</td>
            </tr>
            <tr>
              <td class="acct-property">First Name: </td>
              <td>{{user.user_firstName}}</td>
            </tr>
            <tr>
              <td class="acct-property">Last Name: </td>
              <td>{{user.user_lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>