<div class="container">

    <div class="row main-title">
        POST // {{posts2.post_subject}}
        <div class="line"></div>
    </div>

    <div class="row">
        <!-- post body -->
        <div class="col-md-9 forum-col">
            <div class="body-title">{{posts2.post_subject}}
                <div style="float:right"><i class="material-icons small rating">thumbs_up_down</i>
                    {{posts2.post_rating}}</span></div>
            </div>
            <p class="padding">{{posts2.post_body}}</p>

            <div class="body-title">COMMENTS</div>
            <!-- for each loop for hb for all user comments -->
            <ul class="user-posts">
                {{#each replies}}
                <li>{{this.reply_content}}
                    <span style="float:right"><i class="material-icons tiny">thumb_up</i> {{this.reply_rating}}</span></li>
                {{/each}}
            </ul>

            <div class="input-field col-sm-12">
                <textarea id="textarea1" placeholder="Write your comment here." class="materialize-textarea"></textarea>
                <label id="textarea1"></label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Submit
                <i class="material-icons right">send</i>
            </button>

            <div class="go-back"><a href="/forum"><i class="material-icons tiny">arrow_back</i> BACK TO FORUM</a></div>

        </div>

        <!-- sidebar -->
        <div class="col-md-3">
            {{> sidebar}}
        </div>

    </div>
</div>