<div class="container">

    <div class="row main-title">
        POST // {{posts2.post_subject}}
        <div class="line"></div>
    </div>

    <div class="row">
        <!-- post body -->
        <div class="col m9 forum-col">
            <div class="body-title">{{posts2.post_subject}}
                <div style="float:right"><i class="material-icons small rating">thumbs_up_down</i> {{posts2.post_rating}}</span></div>
            </div>
            <p class="padding">{{posts2.post_body}}</p>

            <div class="body-title">COMMENTS ({{posts2.post_number}})</div>
            <!-- for each loop for hb for all user comments -->
            <ul class="user-posts">
                {{#each replies}}
                <li>{{this.reply_content}}</li>
                <li><i class="material-icons tiny">thumb_up</i> {{this.reply_rating}}</li>
                {{/each}}
            </ul>
        </div>

        <!-- sidebar -->
        <div class="col m3">
            {{> sidebar}}
        </div>

    </div>
</div>